.Navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background: rgb(104, 155, 149);
  color: white;
}

.right-nav{
   display: flex;
   gap : 1rem;
}

a {
  text-decoration: none;
  cursor: pointer;
}


.logo {
  font-size: 1.4rem;
}

.logo:focus {
  color: #561A8B;
}

.cart-icon {
  display: flex;
  align-items: center;
}

.cart-icon a {
  font-size: 1.5rem;
}

.search-input {
  outline: none;
  padding: 0.4rem;
  border-radius: 5px;
  border: 1px solid black;
}
