/* 
===============
   css reset
===============
 */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



/* 
===========================================
   css variables for light and dark themes
==========================================
 */

:root {
  --main-app-bg-color:#FFFFFF;
  --main-app-text-color:black;
  --navbar-bg-color: #FFFFFF;
  --header-icons-border-clr: black;
  --most-border-clr: black;
  --all-links-color: black;
}

.dark-app {
  --main-app-bg-color:#112034;
  --main-app-text-color:#FFFFFF;
  --navbar-bg-color: #191d24;
  --header-icons-border-clr: white;
  --most-border-clr: white;
  --all-links-color: white;
}



/* 
======================
   global css
======================
 */
 
 a {
  color: var(--all-links-color);
  text-decoration: none;
  cursor: pointer;
}


.App {
  background-color: var(--main-app-bg-color);
  color: var(--main-app-text-color);
  min-height: 100vh;
}

/* products loading text */
.loading-data-text {
  padding: 2rem;
  color: #551A8B;
}

.loading-data-text.dark-color {
  color: white;
}


/* 
======================
   Navbar css
======================
 */
.Navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  min-height: 4.5rem;
  position:relative;
  background-color: var(--navbar-bg-color);
}

.themeChangeIcon {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  cursor: pointer;
}

.right-nav{
   display: flex;
   gap : 1rem;
   align-items: center;
}

.nav-btns {
  height: 2rem;
  width:2rem;
  cursor: pointer;
}


.logo {
  font-size: 1.4rem;
}

.cart-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  width: fit-content;
}

.cart-icon svg {
  font-size: 1.4rem;
}

.cart-items-number {
  font-size: 1.2rem;
  pointer-events: none;
}

.cart-div {
  padding: 1px;
  min-width: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.4px solid var(--header-icons-border-clr);
}


/* search form to search products */
form {
  display: flex;
  border: 1px solid var(--header-icons-border-clr);
  border-radius: 5px;
  padding: 3px;
  align-items: center;
  gap:5px
}

.search-input {
  outline: none;
  padding: 0.3rem;
  border-radius: 5px;
  border: 1px solid var(--header-icons-border-clr);
}

.searchIcon {
  cursor:pointer;
  font-size: 1.2rem;
  display: none;
  height: 1.6rem;
}



/* 
=====================================
  top-hero slider section box css
===================================
 */
 /* main top hero section */
.hero-section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  border-bottom: 1px solid var(--main-app-text-color);
  width: 100%;
  overflow: hidden;
}

.hero-section-left,
.hero-section-right{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}


.hero-section-details {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap:1rem;
  transition: all 0.8s ease-in-out;
  position: absolute;
  top: 0;
  left: 5%;
  bottom: 0;
  width: 90%;
  opacity: 0;
}

.top-product-image {
  max-width: 15rem;
  max-height: 20rem;
}


.hide-hero-section {
  display: none;
  transition:all 0.5s ease-in-out;
}

.topLeftRightIcons {
  top: 49%;
  width: 100%;
  font-size: 3rem;
  z-index: 10;
}

.left-icon {
  position: absolute;
  left: 1rem;
  cursor: pointer;
}

.right-icon {
  position: absolute;
  right: 1rem;
  cursor: pointer;
}


/*  slider classes */
.top-active-item{
  opacity: 1;
  transform: translateX(0);
} 

.top-next-item {
  transform: translateX(100%);
}

.top-previous-item {
  transform: translateX(-100%);
}

.dots {
  position: absolute;
  bottom: 5px;
  display: flex;
  gap: 5px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid var(--header-icons-border-clr);
  padding: 5px;
  transition: all 1s ease-in-out;
}

.active-dot {
  background-color: red;
;
}




/* 
======================
  choose category css
======================
*/

.category-section {
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 5rem;
  gap: 10px;
  flex-wrap: wrap;
}

.category {
  padding: 0.5rem;
  border: 2px solid var(--header-icons-border-clr);
  border-radius: 10px;
  cursor: pointer;
}

.category:hover {
  border-color:red ;
  color:red ;
}
.category:focus {
  color: red;
}
.category.active-category{
  border-color:red ;
}




/* 
======================
  products box css
======================
*/

.products-container {
  position: relative;
  padding: 10px ;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  transition: all 1s ease-in-out;
}

.product-box {
  border: 1px solid var(--most-border-clr);
  padding: 5px;
  height: 15rem;
  width: 15rem;
  display: flex;
  flex-direction: column ;
  align-items: center;
  justify-content: space-around;
  border-radius: 5px ;
  transition: all 0.5s ease-in-out;
}

.product-box:hover {
  background-color: rgb(247, 240, 240);
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.dark-product-box {
  border: 1px solid white;
}

.dark-product-box:hover {
  background-color: #121f3c;
  box-shadow: rgba(255, 255, 255, 0.8) 0px 0px 0px 2px, rgba(255, 255, 255, 0.8) 0px 4px 6px -1px, rgb(255, 255, 255, 0.8) 0px 1px 0px inset;
}

.product-img {
  width: 4rem;
}

.product-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
  margin: 5px;
}

.add-to-cart-btn {
  padding: 5px 10px;
  cursor: pointer;
  max-width: fit-content;
}

.not-available-msg {
  padding :3rem;
  font-size: 1.4rem;
  
}


/* 
=================
   model 
================= */

.contentmodel {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(78, 71, 71, 0.39);
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -10;
  visibility: hidden;
  gap:2rem;
  flex-wrap: wrap;
}

.show-model {
  z-index: 10;
  visibility: visible;
}

.details-model-div {
  width: fit-content;
  height: fit-content;
  background-color: var(--main-app-bg-color);
  display: flex;
  align-items:center;
  color: var(--main-app-text-color);
  position: relative;
  flex-wrap: wrap;
  gap:10px;
  max-width: 90%;
  padding: 2rem;
  min-height: fit-content;
}

.contentmodel > .details-model-div > .model-image-div > .model-product-image {
  width: 50%;
  object-fit: contain;
}

.model-image-div {
  flex: 1;
  display: flex;
  justify-content: center;
  min-width: 150px;
  min-height: 45vh;
  
}

.model-info-div {
  flex: 1;
  display: flex;
  justify-items: center;
  flex-direction: column;
  gap:5px
}

.bold-me {
  font-weight: bold;
  color: #3AA691;
}

.model-cancel {
  position: absolute;
  width: fit-content;
  height: fit-content;
  top: 1rem;
  right: 1rem;
  color: red;
  cursor: pointer;
  font-size: 1.5rem;
}



/* 
==========================
    cart-section cart products info
==========================
 */
.cart-info-div {
  padding :1rem;
  border-bottom:1px solid var(--most-border-clr);
}
.cart-info-div p{
  font-size: 1.2rem;  
  margin: 5px;
}


/* 
===================
    Footer 
===================
 */

 .footer {
  background-color: var(--main-app-bg-color);
  color: var(--main-app-text-color);
  padding: 1.5rem;
  border-top: 1px solid var(--most-border-clr);
  text-align: center;
 }

/* 
===================
    media queries 
===================
 */


 @media screen and (max-width: 600px) {
  .search-input {
    display: none;
    position: absolute;
    top: 4.5rem;
    width: 90%;
    left: 5%;
    z-index: 20;

  }
  
  .searchIcon {
    display: flex;
  }

  .show-search {
    display: block;
  }

  .top-product-image {
    max-width: 10rem;
    max-height: 15rem;
  } 

  .top-product-title {
    font-size: 1.3rem;
  }

  .hero-section {
    height: 50vh;
  }

  .right-nav {
    gap: 10px;
  }

  .Navbar {
    padding: 1rem;
    gap: 10px;
  }

  .details-model-div  {
    flex-direction: column;
    overflow-y: scroll;
  }
  
}

@media screen and (max-width: 400px) {

  .top-product-image {
    max-width: 5.5rem;
    max-height: 12rem;
  } 

  .top-product-title {
    font-size: 1rem;
  }

  .hero-section {
    height: 45vh;
  }

}

@media screen and (max-width: 348px) {
  .search-input {
    top:5.8rem;
  }

  .hero-section {
    height: 40vh;
  }

}
@media screen and (max-width: 300px) {
  .search-input {
    top:4.5rem;
  }
  .Navbar {
    padding: 0.5rem;
  }
  .logo {
    font-size: 1.2rem;
    font-weight: bold;
  }

  .searchIcon {
    font-size: 1rem;
    height: 1rem;
  }
  .cart-icon svg {
    font-size: 1rem;
  }

  .nav-btns {
    height: 1.5rem;
    width: 1.5rem;
  }
  .cart-items-number {
    font-size: 1rem;
  }

  .right-nav {
    gap: 7px;
  }

  .top-product-title {
    font-size: 1rem;
  }

  .top-product-image {
    max-width: 5rem;
    max-height: 8rem;
   }

   .hero-section {
    height: 30vh;
   }
}